In [0]:
import pandas as pd

In [5]:
from google.colab import files
upoaded=files.upload()

Saving pokemon.csv to pokemon.csv

In [6]:
df=pd.read_csv("pokemon.csv")
df.head(4)

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False

[4 rows x 13 columns]

In [7]:
# read columns
print(df.columns)  

# read specific columns
print(df[['Name','Attack','Legendary']])

#read rows
print(df[:2][1:4])

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')
                      Name  Attack  Legendary
0                Bulbasaur      49      False
1                  Ivysaur      62      False
2                 Venusaur      82      False
3    VenusaurMega Venusaur     100      False
4               Charmander      52      False
..                     ...     ...        ...
795                Diancie     100       True
796    DiancieMega Diancie     160       True
797    HoopaHoopa Confined     110       True
798     HoopaHoopa Unbound     160       True
799              Volcanion     110       True

[800 rows x 3 columns]
   #     Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
1  2  Ivysaur  Grass  Poison  ...       80     60           1      False

[1 rows x 13 columns]

In [8]:
df['Name'][:5]

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [9]:
df.columns[1:4]

Index(['Name', 'Type 1', 'Type 2'], dtype='object')

In [10]:
df["Name"][10:21]

10                  Wartortle
11                  Blastoise
12    BlastoiseMega Blastoise
13                   Caterpie
14                    Metapod
15                 Butterfree
16                     Weedle
17                     Kakuna
18                   Beedrill
19      BeedrillMega Beedrill
20                     Pidgey
Name: Name, dtype: object

In [11]:
df.iloc[10:21]  # iloc is used to implicit indexing 
df.loc[10:21]   # loc is used to explicit indexing and loc takes inclusive range

     #                     Name  Type 1  ... Speed  Generation  Legendary
10   8                Wartortle   Water  ...    58           1      False
11   9                Blastoise   Water  ...    78           1      False
12   9  BlastoiseMega Blastoise   Water  ...    78           1      False
13  10                 Caterpie     Bug  ...    45           1      False
14  11                  Metapod     Bug  ...    30           1      False
15  12               Butterfree     Bug  ...    70           1      False
16  13                   Weedle     Bug  ...    50           1      False
17  14                   Kakuna     Bug  ...    35           1      False
18  15                 Beedrill     Bug  ...    75           1      False
19  15    BeedrillMega Beedrill     Bug  ...   145           1      False
20  16                   Pidgey  Normal  ...    56           1      False
21  17                Pidgeotto  Normal  ...    71           1      False

[12 rows x 13 columns]

In [12]:
# read a specific location
df.iloc[2,1]

'Venusaur'

In [13]:
#iterate rows
for index,rows in df.iterrows():
  print(index,rows['Name'])

0 Bulbasaur
1 Ivysaur
2 Venusaur
3 VenusaurMega Venusaur
4 Charmander
5 Charmeleon
6 Charizard
7 CharizardMega Charizard X
8 CharizardMega Charizard Y
9 Squirtle
10 Wartortle
11 Blastoise
12 BlastoiseMega Blastoise
13 Caterpie
14 Metapod
15 Butterfree
16 Weedle
17 Kakuna
18 Beedrill
19 BeedrillMega Beedrill
20 Pidgey
21 Pidgeotto
22 Pidgeot
23 PidgeotMega Pidgeot
24 Rattata
25 Raticate
26 Spearow
27 Fearow
28 Ekans
29 Arbok
30 Pikachu
31 Raichu
32 Sandshrew
33 Sandslash
34 Nidoran♀
35 Nidorina
36 Nidoqueen
37 Nidoran♂
38 Nidorino
39 Nidoking
40 Clefairy
41 Clefable
42 Vulpix
43 Ninetales
44 Jigglypuff
45 Wigglytuff
46 Zubat
47 Golbat
48 Oddish
49 Gloom
50 Vileplume
51 Paras
52 Parasect
53 Venonat
54 Venomoth
55 Diglett
56 Dugtrio
57 Meowth
58 Persian
59 Psyduck
60 Golduck
61 Mankey
62 Primeape
63 Growlithe
64 Arcanine
65 Poliwag
66 Poliwhirl
67 Poliwrath
68 Abra
69 Kadabra
70 Alakazam
71 AlakazamMega Alakazam
72 Machop
73 Machoke
74 Machamp
75 Bellsprout
76 Weepinbell
77 Victreebel
78 Tentacool
79 Tentacruel
80 Geodude
81 Graveler
82 Golem
83 Ponyta
84 Rapidash
85 Slowpoke
86 Slowbro
87 SlowbroMega Slowbro
88 Magnemite
89 Magneton
90 Farfetch'd
91 Doduo
92 Dodrio
93 Seel
94 Dewgong
95 Grimer
96 Muk
97 Shellder
98 Cloyster
99 Gastly
100 Haunter
101 Gengar
102 GengarMega Gengar
103 Onix
104 Drowzee
105 Hypno
106 Krabby
107 Kingler
108 Voltorb
109 Electrode
110 Exeggcute
111 Exeggutor
112 Cubone
113 Marowak
114 Hitmonlee
115 Hitmonchan
116 Lickitung
117 Koffing
118 Weezing
119 Rhyhorn
120 Rhydon
121 Chansey
122 Tangela
123 Kangaskhan
124 KangaskhanMega Kangaskhan
125 Horsea
126 Seadra
127 Goldeen
128 Seaking
129 Staryu
130 Starmie
131 Mr. Mime
132 Scyther
133 Jynx
134 Electabuzz
135 Magmar
136 Pinsir
137 PinsirMega Pinsir
138 Tauros
139 Magikarp
140 Gyarados
141 GyaradosMega Gyarados
142 Lapras
143 Ditto
144 Eevee
145 Vaporeon
146 Jolteon
147 Flareon
148 Porygon
149 Omanyte
150 Omastar
151 Kabuto
152 Kabutops
153 Aerodactyl
154 AerodactylMega Aerodactyl
155 Snorlax
156 Articuno
157 Zapdos
158 Moltres
159 Dratini
160 Dragonair
161 Dragonite
162 Mewtwo
163 MewtwoMega Mewtwo X
164 MewtwoMega Mewtwo Y
165 Mew
166 Chikorita
167 Bayleef
168 Meganium
169 Cyndaquil
170 Quilava
171 Typhlosion
172 Totodile
173 Croconaw
174 Feraligatr
175 Sentret
176 Furret
177 Hoothoot
178 Noctowl
179 Ledyba
180 Ledian
181 Spinarak
182 Ariados
183 Crobat
184 Chinchou
185 Lanturn
186 Pichu
187 Cleffa
188 Igglybuff
189 Togepi
190 Togetic
191 Natu
192 Xatu
193 Mareep
194 Flaaffy
195 Ampharos
196 AmpharosMega Ampharos
197 Bellossom
198 Marill
199 Azumarill
200 Sudowoodo
201 Politoed
202 Hoppip
203 Skiploom
204 Jumpluff
205 Aipom
206 Sunkern
207 Sunflora
208 Yanma
209 Wooper
210 Quagsire
211 Espeon
212 Umbreon
213 Murkrow
214 Slowking
215 Misdreavus
216 Unown
217 Wobbuffet
218 Girafarig
219 Pineco
220 Forretress
221 Dunsparce
222 Gligar
223 Steelix
224 SteelixMega Steelix
225 Snubbull
226 Granbull
227 Qwilfish
228 Scizor
229 ScizorMega Scizor
230 Shuckle
231 Heracross
232 HeracrossMega Heracross
233 Sneasel
234 Teddiursa
235 Ursaring
236 Slugma
237 Magcargo
238 Swinub
239 Piloswine
240 Corsola
241 Remoraid
242 Octillery
243 Delibird
244 Mantine
245 Skarmory
246 Houndour
247 Houndoom
248 HoundoomMega Houndoom
249 Kingdra
250 Phanpy
251 Donphan
252 Porygon2
253 Stantler
254 Smeargle
255 Tyrogue
256 Hitmontop
257 Smoochum
258 Elekid
259 Magby
260 Miltank
261 Blissey
262 Raikou
263 Entei
264 Suicune
265 Larvitar
266 Pupitar
267 Tyranitar
268 TyranitarMega Tyranitar
269 Lugia
270 Ho-oh
271 Celebi
272 Treecko
273 Grovyle
274 Sceptile
275 SceptileMega Sceptile
276 Torchic
277 Combusken
278 Blaziken
279 BlazikenMega Blaziken
280 Mudkip
281 Marshtomp
282 Swampert
283 SwampertMega Swampert
284 Poochyena
285 Mightyena
286 Zigzagoon
287 Linoone
288 Wurmple
289 Silcoon
290 Beautifly
291 Cascoon
292 Dustox
293 Lotad
294 Lombre
295 Ludicolo
296 Seedot
297 Nuzleaf
298 Shiftry
299 Taillow
300 Swellow
301 Wingull
302 Pelipper
303 Ralts
304 Kirlia
305 Gardevoir
306 GardevoirMega Gardevoir
307 Surskit
308 Masquerain
309 Shroomish
310 Breloom
311 Slakoth
312 Vigoroth
313 Slaking
314 Nincada
315 Ninjask
316 Shedinja
317 Whismur
318 Loudred
319 Exploud
320 Makuhita
321 Hariyama
322 Azurill
323 Nosepass
324 Skitty
325 Delcatty
326 Sableye
327 SableyeMega Sableye
328 Mawile
329 MawileMega Mawile
330 Aron
331 Lairon
332 Aggron
333 AggronMega Aggron
334 Meditite
335 Medicham
336 MedichamMega Medicham
337 Electrike
338 Manectric
339 ManectricMega Manectric
340 Plusle
341 Minun
342 Volbeat
343 Illumise
344 Roselia
345 Gulpin
346 Swalot
347 Carvanha
348 Sharpedo
349 SharpedoMega Sharpedo
350 Wailmer
351 Wailord
352 Numel
353 Camerupt
354 CameruptMega Camerupt
355 Torkoal
356 Spoink
357 Grumpig
358 Spinda
359 Trapinch
360 Vibrava
361 Flygon
362 Cacnea
363 Cacturne
364 Swablu
365 Altaria
366 AltariaMega Altaria
367 Zangoose
368 Seviper
369 Lunatone
370 Solrock
371 Barboach
372 Whiscash
373 Corphish
374 Crawdaunt
375 Baltoy
376 Claydol
377 Lileep
378 Cradily
379 Anorith
380 Armaldo
381 Feebas
382 Milotic
383 Castform
384 Kecleon
385 Shuppet
386 Banette
387 BanetteMega Banette
388 Duskull
389 Dusclops
390 Tropius
391 Chimecho
392 Absol
393 AbsolMega Absol
394 Wynaut
395 Snorunt
396 Glalie
397 GlalieMega Glalie
398 Spheal
399 Sealeo
400 Walrein
401 Clamperl
402 Huntail
403 Gorebyss
404 Relicanth
405 Luvdisc
406 Bagon
407 Shelgon
408 Salamence
409 SalamenceMega Salamence
410 Beldum
411 Metang
412 Metagross
413 MetagrossMega Metagross
414 Regirock
415 Regice
416 Registeel
417 Latias
418 LatiasMega Latias
419 Latios
420 LatiosMega Latios
421 Kyogre
422 KyogrePrimal Kyogre
423 Groudon
424 GroudonPrimal Groudon
425 Rayquaza
426 RayquazaMega Rayquaza
427 Jirachi
428 DeoxysNormal Forme
429 DeoxysAttack Forme
430 DeoxysDefense Forme
431 DeoxysSpeed Forme
432 Turtwig
433 Grotle
434 Torterra
435 Chimchar
436 Monferno
437 Infernape
438 Piplup
439 Prinplup
440 Empoleon
441 Starly
442 Staravia
443 Staraptor
444 Bidoof
445 Bibarel
446 Kricketot
447 Kricketune
448 Shinx
449 Luxio
450 Luxray
451 Budew
452 Roserade
453 Cranidos
454 Rampardos
455 Shieldon
456 Bastiodon
457 Burmy
458 WormadamPlant Cloak
459 WormadamSandy Cloak
460 WormadamTrash Cloak
461 Mothim
462 Combee
463 Vespiquen
464 Pachirisu
465 Buizel
466 Floatzel
467 Cherubi
468 Cherrim
469 Shellos
470 Gastrodon
471 Ambipom
472 Drifloon
473 Drifblim
474 Buneary
475 Lopunny
476 LopunnyMega Lopunny
477 Mismagius
478 Honchkrow
479 Glameow
480 Purugly
481 Chingling
482 Stunky
483 Skuntank
484 Bronzor
485 Bronzong
486 Bonsly
487 Mime Jr.
488 Happiny
489 Chatot
490 Spiritomb
491 Gible
492 Gabite
493 Garchomp
494 GarchompMega Garchomp
495 Munchlax
496 Riolu
497 Lucario
498 LucarioMega Lucario
499 Hippopotas
500 Hippowdon
501 Skorupi
502 Drapion
503 Croagunk
504 Toxicroak
505 Carnivine
506 Finneon
507 Lumineon
508 Mantyke
509 Snover
510 Abomasnow
511 AbomasnowMega Abomasnow
512 Weavile
513 Magnezone
514 Lickilicky
515 Rhyperior
516 Tangrowth
517 Electivire
518 Magmortar
519 Togekiss
520 Yanmega
521 Leafeon
522 Glaceon
523 Gliscor
524 Mamoswine
525 Porygon-Z
526 Gallade
527 GalladeMega Gallade
528 Probopass
529 Dusknoir
530 Froslass
531 Rotom
532 RotomHeat Rotom
533 RotomWash Rotom
534 RotomFrost Rotom
535 RotomFan Rotom
536 RotomMow Rotom
537 Uxie
538 Mesprit
539 Azelf
540 Dialga
541 Palkia
542 Heatran
543 Regigigas
544 GiratinaAltered Forme
545 GiratinaOrigin Forme
546 Cresselia
547 Phione
548 Manaphy
549 Darkrai
550 ShayminLand Forme
551 ShayminSky Forme
552 Arceus
553 Victini
554 Snivy
555 Servine
556 Serperior
557 Tepig
558 Pignite
559 Emboar
560 Oshawott
561 Dewott
562 Samurott
563 Patrat
564 Watchog
565 Lillipup
566 Herdier
567 Stoutland
568 Purrloin
569 Liepard
570 Pansage
571 Simisage
572 Pansear
573 Simisear
574 Panpour
575 Simipour
576 Munna
577 Musharna
578 Pidove
579 Tranquill
580 Unfezant
581 Blitzle
582 Zebstrika
583 Roggenrola
584 Boldore
585 Gigalith
586 Woobat
587 Swoobat
588 Drilbur
589 Excadrill
590 Audino
591 AudinoMega Audino
592 Timburr
593 Gurdurr
594 Conkeldurr
595 Tympole
596 Palpitoad
597 Seismitoad
598 Throh
599 Sawk
600 Sewaddle
601 Swadloon
602 Leavanny
603 Venipede
604 Whirlipede
605 Scolipede
606 Cottonee
607 Whimsicott
608 Petilil
609 Lilligant
610 Basculin
611 Sandile
612 Krokorok
613 Krookodile
614 Darumaka
615 DarmanitanStandard Mode
616 DarmanitanZen Mode
617 Maractus
618 Dwebble
619 Crustle
620 Scraggy
621 Scrafty
622 Sigilyph
623 Yamask
624 Cofagrigus
625 Tirtouga
626 Carracosta
627 Archen
628 Archeops
629 Trubbish
630 Garbodor
631 Zorua
632 Zoroark
633 Minccino
634 Cinccino
635 Gothita
636 Gothorita
637 Gothitelle
638 Solosis
639 Duosion
640 Reuniclus
641 Ducklett
642 Swanna
643 Vanillite
644 Vanillish
645 Vanilluxe
646 Deerling
647 Sawsbuck
648 Emolga
649 Karrablast
650 Escavalier
651 Foongus
652 Amoonguss
653 Frillish
654 Jellicent
655 Alomomola
656 Joltik
657 Galvantula
658 Ferroseed
659 Ferrothorn
660 Klink
661 Klang
662 Klinklang
663 Tynamo
664 Eelektrik
665 Eelektross
666 Elgyem
667 Beheeyem
668 Litwick
669 Lampent
670 Chandelure
671 Axew
672 Fraxure
673 Haxorus
674 Cubchoo
675 Beartic
676 Cryogonal
677 Shelmet
678 Accelgor
679 Stunfisk
680 Mienfoo
681 Mienshao
682 Druddigon
683 Golett
684 Golurk
685 Pawniard
686 Bisharp
687 Bouffalant
688 Rufflet
689 Braviary
690 Vullaby
691 Mandibuzz
692 Heatmor
693 Durant
694 Deino
695 Zweilous
696 Hydreigon
697 Larvesta
698 Volcarona
699 Cobalion
700 Terrakion
701 Virizion
702 TornadusIncarnate Forme
703 TornadusTherian Forme
704 ThundurusIncarnate Forme
705 ThundurusTherian Forme
706 Reshiram
707 Zekrom
708 LandorusIncarnate Forme
709 LandorusTherian Forme
710 Kyurem
711 KyuremBlack Kyurem
712 KyuremWhite Kyurem
713 KeldeoOrdinary Forme
714 KeldeoResolute Forme
715 MeloettaAria Forme
716 MeloettaPirouette Forme
717 Genesect
718 Chespin
719 Quilladin
720 Chesnaught
721 Fennekin
722 Braixen
723 Delphox
724 Froakie
725 Frogadier
726 Greninja
727 Bunnelby
728 Diggersby
729 Fletchling
730 Fletchinder
731 Talonflame
732 Scatterbug
733 Spewpa
734 Vivillon
735 Litleo
736 Pyroar
737 Flabébé
738 Floette
739 Florges
740 Skiddo
741 Gogoat
742 Pancham
743 Pangoro
744 Furfrou
745 Espurr
746 MeowsticMale
747 MeowsticFemale
748 Honedge
749 Doublade
750 AegislashBlade Forme
751 AegislashShield Forme
752 Spritzee
753 Aromatisse
754 Swirlix
755 Slurpuff
756 Inkay
757 Malamar
758 Binacle
759 Barbaracle
760 Skrelp
761 Dragalge
762 Clauncher
763 Clawitzer
764 Helioptile
765 Heliolisk
766 Tyrunt
767 Tyrantrum
768 Amaura
769 Aurorus
770 Sylveon
771 Hawlucha
772 Dedenne
773 Carbink
774 Goomy
775 Sliggoo
776 Goodra
777 Klefki
778 Phantump
779 Trevenant
780 PumpkabooAverage Size
781 PumpkabooSmall Size
782 PumpkabooLarge Size
783 PumpkabooSuper Size
784 GourgeistAverage Size
785 GourgeistSmall Size
786 GourgeistLarge Size
787 GourgeistSuper Size
788 Bergmite
789 Avalugg
790 Noibat
791 Noivern
792 Xerneas
793 Yveltal
794 Zygarde50% Forme
795 Diancie
796 DiancieMega Diancie
797 HoopaHoopa Confined
798 HoopaHoopa Unbound
799 Volcanion

In [14]:
#finding specific data in data set
df[(df["Type 1"]=="Fire") & (df['HP']>50)]

       #                       Name Type 1  ... Speed  Generation  Legendary
5      5                 Charmeleon   Fire  ...    80           1      False
6      6                  Charizard   Fire  ...   100           1      False
7      6  CharizardMega Charizard X   Fire  ...   100           1      False
8      6  CharizardMega Charizard Y   Fire  ...   100           1      False
43    38                  Ninetales   Fire  ...   100           1      False
63    58                  Growlithe   Fire  ...    60           1      False
64    59                   Arcanine   Fire  ...    95           1      False
84    78                   Rapidash   Fire  ...   105           1      False
135  126                     Magmar   Fire  ...    93           1      False
147  136                    Flareon   Fire  ...    65           1      False
158  146                    Moltres   Fire  ...    90           1       True
170  156                    Quilava   Fire  ...    80           2      False
171  157                 Typhlosion   Fire  ...   100           2      False
263  244                      Entei   Fire  ...   100           2       True
270  250                      Ho-oh   Fire  ...    90           2       True
277  256                  Combusken   Fire  ...    55           3      False
278  257                   Blaziken   Fire  ...    80           3      False
279  257      BlazikenMega Blaziken   Fire  ...   100           3      False
352  322                      Numel   Fire  ...    35           3      False
353  323                   Camerupt   Fire  ...    40           3      False
354  323      CameruptMega Camerupt   Fire  ...    20           3      False
355  324                    Torkoal   Fire  ...    20           3      False
436  391                   Monferno   Fire  ...    81           4      False
437  392                  Infernape   Fire  ...   108           4      False
518  467                  Magmortar   Fire  ...    83           4      False
542  485                    Heatran   Fire  ...    77           4       True
557  498                      Tepig   Fire  ...    45           5      False
558  499                    Pignite   Fire  ...    55           5      False
559  500                     Emboar   Fire  ...    65           5      False
573  514                   Simisear   Fire  ...   101           5      False
614  554                   Darumaka   Fire  ...    50           5      False
615  555    DarmanitanStandard Mode   Fire  ...    95           5      False
616  555         DarmanitanZen Mode   Fire  ...    55           5      False
692  631                    Heatmor   Fire  ...    65           5      False
722  654                    Braixen   Fire  ...    73           6      False
723  655                    Delphox   Fire  ...   104           6      False
730  662                Fletchinder   Fire  ...    84           6      False
731  663                 Talonflame   Fire  ...   126           6      False
735  667                     Litleo   Fire  ...    72           6      False
736  668                     Pyroar   Fire  ...   106           6      False
799  721                  Volcanion   Fire  ...    70           6       True

[41 rows x 13 columns]

In [15]:
df.iloc[2:4]

   #                   Name Type 1  ... Speed  Generation  Legendary
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False

[2 rows x 13 columns]

In [0]:
#for index, row in df.iterrows(): # iterrows use to iterate the row
   #  print(index, row['Name'])

In [17]:
df.describe().T

            count       mean         std    min     25%    50%     75%    max
#           800.0  362.81375  208.343798    1.0  184.75  364.5  539.25  721.0
Total       800.0  435.10250  119.963040  180.0  330.00  450.0  515.00  780.0
HP          800.0   69.25875   25.534669    1.0   50.00   65.0   80.00  255.0
Attack      800.0   79.00125   32.457366    5.0   55.00   75.0  100.00  190.0
Defense     800.0   73.84250   31.183501    5.0   50.00   70.0   90.00  230.0
Sp. Atk     800.0   72.82000   32.722294   10.0   49.75   65.0   95.00  194.0
Sp. Def     800.0   71.90250   27.828916   20.0   50.00   70.0   90.00  230.0
Speed       800.0   68.27750   29.060474    5.0   45.00   65.0   90.00  180.0
Generation  800.0    3.32375    1.661290    1.0    2.00    3.0    5.00    6.0

# **Sorting** **values**

In [18]:
df.sort_values('Type 1', ascending=False).head(10)

       #       Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
371  339   Barboach  Water  Ground  ...       41     60           3      False
97    90   Shellder  Water     NaN  ...       25     40           1      False
240  222    Corsola  Water    Rock  ...       85     35           2      False
403  368   Gorebyss  Water     NaN  ...       75     52           3      False
93    86       Seel  Water     NaN  ...       70     45           1      False
94    87    Dewgong  Water     Ice  ...       95     70           1      False
404  369  Relicanth  Water    Rock  ...       65     55           3      False
405  370    Luvdisc  Water     NaN  ...       65     97           3      False
98    91   Cloyster  Water     Ice  ...       45     70           1      False
264  245    Suicune  Water     NaN  ...      115     85           2       True

[10 rows x 13 columns]

In [19]:
df.sort_values(['Type 1', 'HP'], ascending=[1,0]).head(10)

       #                     Name Type 1  ... Speed  Generation  Legendary
520  469                  Yanmega    Bug  ...    95           4      False
698  637                Volcarona    Bug  ...   100           5      False
231  214                Heracross    Bug  ...    85           2      False
232  214  HeracrossMega Heracross    Bug  ...    75           2      False
678  617                 Accelgor    Bug  ...   145           5      False
734  666                 Vivillon    Bug  ...    89           6      False
447  402               Kricketune    Bug  ...    65           4      False
220  205               Forretress    Bug  ...    40           2      False
602  542                 Leavanny    Bug  ...    92           5      False
717  649                 Genesect    Bug  ...    99           5      False

[10 rows x 13 columns]

## **Make changes to the data**

In [20]:
df.drop('Total',inplace=True,axis=1)
df.head(3)

   #       Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
0  1  Bulbasaur  Grass  Poison  ...       65     45           1      False
1  2    Ivysaur  Grass  Poison  ...       80     60           1      False
2  3   Venusaur  Grass  Poison  ...      100     80           1      False

[3 rows x 12 columns]

In [21]:

# way1
#df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']
#df.head()

#df=df.drop(columns=['Total'])
#df.head()

#way2
df['Total'] = df.iloc[:, 4:10].sum(axis=1)

#rearranging the columns
cols = list(df.columns)
df = df[cols[0:4]+[cols[-1]] +cols[4:12]]

df.head(5)

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False

[5 rows x 13 columns]

## **Saving our data**

In [0]:
df.to_csv("modified_pokemon.csv",index=False)
df.to_excel("modified_pokemon.xlsx",index=False)
df.to_csv("modified_pokemon.txt",sep='\t')

## **Filtering Data**

In [23]:
df.loc[(df["Type 1"]=="Grass") | (df["Type 2"]=="Poison")]  # or 

new_df=df.loc[(df["Type 1"]=="Grass") & (df["Type 2"]=="Poison") & (df["HP"]>70)] # and

new_df.reset_index(drop=True,inplace=True)
new_df

     #                   Name Type 1  ... Speed  Generation  Legendary
0    3               Venusaur  Grass  ...    80           1      False
1    3  VenusaurMega Venusaur  Grass  ...    80           1      False
2   45              Vileplume  Grass  ...    50           1      False
3   71             Victreebel  Grass  ...    70           1      False
4  591              Amoonguss  Grass  ...    30           5      False

[5 rows x 13 columns]

In [24]:
df.loc[~df['Name'].str.contains("Mega ")]   # all names which don't contains 'mega'

       #                 Name   Type 1  ... Speed  Generation  Legendary
0      1            Bulbasaur    Grass  ...    45           1      False
1      2              Ivysaur    Grass  ...    60           1      False
2      3             Venusaur    Grass  ...    80           1      False
4      4           Charmander     Fire  ...    65           1      False
5      5           Charmeleon     Fire  ...    80           1      False
..   ...                  ...      ...  ...   ...         ...        ...
794  718     Zygarde50% Forme   Dragon  ...    95           6       True
795  719              Diancie     Rock  ...    50           6       True
797  720  HoopaHoopa Confined  Psychic  ...    70           6       True
798  720   HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721            Volcanion     Fire  ...    70           6       True

[752 rows x 13 columns]

In [25]:
import re
df.loc[df['Type 1'].str.contains("Fire|Grass",regex=True)] 
#ignore case 
df.loc[df['Type 1'].str.contains("fire|grass",flags=re.I,regex=True)]

       #                   Name Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur  Grass  ...    45           1      False
1      2                Ivysaur  Grass  ...    60           1      False
2      3               Venusaur  Grass  ...    80           1      False
3      3  VenusaurMega Venusaur  Grass  ...    80           1      False
4      4             Charmander   Fire  ...    65           1      False
..   ...                    ...    ...  ...   ...         ...        ...
735  667                 Litleo   Fire  ...    72           6      False
736  668                 Pyroar   Fire  ...   106           6      False
740  672                 Skiddo  Grass  ...    52           6      False
741  673                 Gogoat  Grass  ...    68           6      False
799  721              Volcanion   Fire  ...    70           6       True

[122 rows x 13 columns]

In [26]:
df.loc[df['Name'].str.contains("^pi[a-z]*",flags=re.I,regex=True)]

       #                 Name    Type 1  ... Speed  Generation  Legendary
20    16               Pidgey    Normal  ...    56           1      False
21    17            Pidgeotto    Normal  ...    71           1      False
22    18              Pidgeot    Normal  ...   101           1      False
23    18  PidgeotMega Pidgeot    Normal  ...   121           1      False
30    25              Pikachu  Electric  ...    90           1      False
136  127               Pinsir       Bug  ...    85           1      False
137  127    PinsirMega Pinsir       Bug  ...   105           1      False
186  172                Pichu  Electric  ...    60           2      False
219  204               Pineco       Bug  ...    15           2      False
239  221            Piloswine       Ice  ...    50           2      False
438  393               Piplup     Water  ...    40           4      False
558  499              Pignite      Fire  ...    55           5      False
578  519               Pidove    Normal  ...    43           5      False

[13 rows x 13 columns]

## **Conditional changes**

In [27]:
df.loc[df['Type 1']=='Fire','Type 1']='Flame'

df.loc[df['Type 1']=='Flame','Legendary']=True

# multiple change
df.loc[df['Total']>500,['Generation','Legendary']]=['Test1','Test2']
df

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80       Test1      Test2
3      3  VenusaurMega Venusaur    Grass  ...    80       Test1      Test2
4      4             Charmander    Flame  ...    65           1       True
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50       Test1      Test2
796  719    DiancieMega Diancie     Rock  ...   110       Test1      Test2
797  720    HoopaHoopa Confined  Psychic  ...    70       Test1      Test2
798  720     HoopaHoopa Unbound  Psychic  ...    80       Test1      Test2
799  721              Volcanion    Flame  ...    70       Test1      Test2

[800 rows x 13 columns]

## **Aggregate statistics (Groupby)**

In [28]:
df=pd.read_csv("modified_pokemon.csv")

df.groupby('Type 1').mean()

df.groupby('Type 1').sum()

df.groupby('Type 1').count()

            #  Name  Type 2  Total  ...  Sp. Def  Speed  Generation  Legendary
Type 1                              ...
Bug        69    69      52     69  ...       69     69          69         69
Dark       31    31      21     31  ...       31     31          31         31
Dragon     32    32      21     32  ...       32     32          32         32
Electric   44    44      17     44  ...       44     44          44         44
Fairy      17    17       2     17  ...       17     17          17         17
Fighting   27    27       7     27  ...       27     27          27         27
Fire       52    52      24     52  ...       52     52          52         52
Flying      4     4       2      4  ...        4      4           4          4
Ghost      32    32      22     32  ...       32     32          32         32
Grass      70    70      37     70  ...       70     70          70         70
Ground     32    32      19     32  ...       32     32          32         32
Ice        24    24      11     24  ...       24     24          24         24
Normal     98    98      37     98  ...       98     98          98         98
Poison     28    28      13     28  ...       28     28          28         28
Psychic    57    57      19     57  ...       57     57          57         57
Rock       44    44      35     44  ...       44     44          44         44
Steel      27    27      22     27  ...       27     27          27         27
Water     112   112      53    112  ...      112    112         112        112

[18 rows x 12 columns]

In [31]:
# which type has highest attack mean value
df.groupby('Type 1').mean().sort_values("Attack",ascending=False)

                   #       Total         HP  ...       Speed  Generation  Legendary
Type 1                                       ...
Dragon    474.375000  550.531250  83.312500  ...   83.031250    3.875000   0.375000
Fighting  363.851852  416.444444  69.851852  ...   66.074074    3.370370   0.000000
Ground    356.281250  437.500000  73.781250  ...   63.906250    3.156250   0.125000
Rock      392.727273  453.750000  65.363636  ...   55.909091    3.454545   0.090909
Steel     442.851852  487.703704  65.222222  ...   55.259259    3.851852   0.148148
Dark      461.354839  445.741935  66.806452  ...   76.161290    4.032258   0.064516
Fire      327.403846  458.076923  69.903846  ...   74.442308    3.211538   0.096154
Flying    677.750000  485.000000  70.750000  ...  102.500000    5.500000   0.500000
Poison    251.785714  399.142857  67.250000  ...   63.571429    2.535714   0.000000
Water     303.089286  430.455357  72.062500  ...   65.964286    2.857143   0.035714
Ghost     486.500000  439.562500  64.437500  ...   64.343750    4.187500   0.062500
Normal    319.173469  401.683673  77.275510  ...   71.551020    3.051020   0.020408
Grass     344.871429  421.142857  67.271429  ...   61.928571    3.357143   0.042857
Ice       423.541667  433.458333  72.000000  ...   63.458333    3.541667   0.083333
Psychic   380.807018  475.947368  70.631579  ...   81.491228    3.385965   0.245614
Bug       334.492754  378.927536  56.884058  ...   61.681159    3.217391   0.000000
Electric  363.500000  443.409091  59.795455  ...   84.500000    3.272727   0.090909
Fairy     449.529412  413.176471  74.117647  ...   48.588235    4.117647   0.058824

[18 rows x 10 columns]

## **Pivot and Pivot_table**

In [39]:
new_df.pivot(index="Name",columns="Type 2")

                           # Type 1  Total  ...  Speed Generation Legendary
Type 2                Poison Poison Poison  ... Poison     Poison    Poison
Name                                        ...
Amoonguss                591  Grass    464  ...     30          5     False
Venusaur                   3  Grass    525  ...     80          1     False
VenusaurMega Venusaur      3  Grass    625  ...     80          1     False
Victreebel                71  Grass    490  ...     70          1     False
Vileplume                 45  Grass    490  ...     50          1     False

[5 rows x 11 columns]

In [43]:
#pivot_table
new_df.pivot_table(index="Name",columns="Type 2",aggfunc=sum,margins=True)

                           #      Attack       ...  Speed       Total
Type 2                Poison  All Poison  All  ... Poison  All Poison   All
Name                                           ...
Amoonguss                591  591     85   85  ...     30   30    464   464
Venusaur                   3    3     82   82  ...     80   80    525   525
VenusaurMega Venusaur      3    3    100  100  ...     80   80    625   625
Victreebel                71   71    105  105  ...     70   70    490   490
Vileplume                 45   45     80   80  ...     50   50    490   490
All                      713  713    452  452  ...    310  310   2594  2594

[6 rows x 20 columns]

### dividing 'attack' into categorical values

In [55]:
pd.qcut(df["Attack"],5,labels=['very low','low','medium','high','super']).head(10)

0    very low
1         low
2      medium
3        high
4         low
5         low
6      medium
7       super
8        high
9    very low
Name: Attack, dtype: category
Categories (5, object): [very low < low < medium < high < super]

In [54]:
df.head(10)

   #                       Name Type 1  ... Speed  Generation  Legendary
0  1                  Bulbasaur  Grass  ...    45           1      False
1  2                    Ivysaur  Grass  ...    60           1      False
2  3                   Venusaur  Grass  ...    80           1      False
3  3      VenusaurMega Venusaur  Grass  ...    80           1      False
4  4                 Charmander   Fire  ...    65           1      False
5  5                 Charmeleon   Fire  ...    80           1      False
6  6                  Charizard   Fire  ...   100           1      False
7  6  CharizardMega Charizard X   Fire  ...   100           1      False
8  6  CharizardMega Charizard Y   Fire  ...   100           1      False
9  7                   Squirtle  Water  ...    43           1      False

[10 rows x 13 columns]